* {
    /* Colors */
    bg:           #151520;
    bg-alt:       #424255;
    fg:           #FFFFFF;
    input-bg:     #7D8DA7;
    input-fg:     #121211;
    divider:      #F0B2AA;

    /* Transparency */
    transparent:  rgba(0, 0, 0, 0);
}
