* {
    /* Colors */
    bg:           #EFEAD8;
    bg-alt:       #B8AFA2;
    fg:           #040405;
    input-bg:     #817972;
    input-fg:     #FBFBFB;
    divider:      #383631;

    /* Transparency */
    transparent:  rgba(0, 0, 0, 0);
}
