* {
    /* Colors */
    bg:           #1E1E2C;
    bg-alt:       #65687E;
    fg:           #FFFFFF;
    input-bg:     #9799B3;
    input-fg:     #0F0F0E;
    divider:      #D7C2C7;

    /* Transparency */
    transparent:  rgba(0, 0, 0, 0);
}
